<div class="container mt-5">
  <div class="card border-0 px-3">
    <div class="row col-12 m-0 justify-content-center">
      <div class="col-1 line-horizontal"></div>
      <div class="py-4 mt-2 text-center f-size-w6-28">
        {{ "TOP_SCREEN.TITLE" | translate }}
      </div>
      <span class="f-size-w3-16 py-2 text-center">{{
        "TOP_SCREEN.SUBTITLE" | translate
      }}</span>
      <span
        class="f-size-w6-16 text-center color-primary stera-video pb-4"
        (click)="serviceUsage()"
      >
        {{ "TOP_SCREEN.LABEL_STERA" | translate }}
        <span class="ms-4">
          <img src="assets/images/arrow-right-light.svg" alt="" />
        </span>
      </span>

      <br />
      <!-- ------------------------role admin----------------------------------- -->
      <div
        class="text-center align-line-top"
        *ngIf="getUserRole() === roles.ROLE_SERVICE_ADMIN"
      >
        <div class="line"></div>
        <div class="px-2 f-size-w6-22" style="display: inline-block">
          {{ "TOP_SCREEN.LINE_ONE_ADMINISTRATORS" | translate }}
        </div>
        <div class="line"></div>
      </div>

      <div class="row px-4 flex-wrap path-items">
        <div
          class="path-item margin-left-menu"
          (click)="onRedirect(['/managements/playlist'])"
        >
          <div>
            <span class="d-flex f-size-w6-18">
              {{ "TOP_SCREEN.PLAYLIST.TITLE" | translate }}
            </span>
            <span class="d-flex mt-2 f-size-w3-14">
              {{ "TOP_SCREEN.PLAYLIST.DESCRIPTION" | translate }}
            </span>
          </div>
          <img
            class="ms-auto"
            width="64"
            height="64"
            src="assets/images-sidebar-old/playlist.svg"
            alt=""
          />
        </div>

        <div
          class="path-item"
          (click)="onRedirect(['/managements/distribution'])"
        >
          <div>
            <span class="d-flex f-size-w6-18">
              {{ "TOP_SCREEN.DISTRIBUTION.TITLE" | translate }}
            </span>
            <span class="d-flex mt-2 f-size-w3-14">
              {{ "TOP_SCREEN.DISTRIBUTION.DESCRIPTION" | translate }}
            </span>
          </div>
          <img
            class="ms-auto"
            width="64"
            height="64"
            src="assets/images-sidebar-old/delivery.svg"
            alt=""
          />
        </div>

        <div class="d-flex my-4 f-size-w6-16 p-0">
          {{ "TOP_SCREEN.HEADER_ADVERTISING" | translate }}
        </div>

        <div
          class="path-item-2 margin-left-menu"
          (click)="onRedirect(['/managements/receipt'])"
        >
          <img
            width="44"
            height="44"
            src="assets/images-sidebar-old/receipt.svg"
            alt=""
          />
          <div>
            <span class="d-flex f-size-w6-16">
              {{ "TOP_SCREEN.RECEIPT.TITLE" | translate }}
            </span>
            <span class="d-flex mt-2 f-size-w3-14">
              {{ "TOP_SCREEN.RECEIPT.DESCRIPTION" | translate }}
            </span>
          </div>
        </div>

        <div
          class="path-item-2"
          (click)="onRedirect(['/managements/image-gallery'])"
        >
          <img
            width="44"
            height="44"
            src="assets/images-sidebar-old/image-register.svg"
            alt=""
          />
          <div>
            <span class="d-flex f-size-w6-16">
              {{ "TOP_SCREEN.IMAGE_REGISTER.TITLE" | translate }}
            </span>
            <span class="d-flex mt-2 f-size-w3-14">
              {{ "TOP_SCREEN.IMAGE_REGISTER.DESCRIPTION" | translate }}
            </span>
          </div>
        </div>
      </div>

      <br />
      <ng-container *ngIf="getUserRole() === roles.ROLE_SERVICE_ADMIN">
        <div class="text-center align-line-bottom">
          <div class="line"></div>
          <div class="px-2 f-size-w6-22" style="display: inline-block">
            {{ "TOP_SCREEN.LINE_TWO_ADMINISTRATORS" | translate }}
          </div>
          <div class="line"></div>
        </div>

        <div class="px-4 d-flex flex-wrap path-items">
          <div
            class="path-item-3 margin-left-menu"
            (click)="onRedirect(['/managements/usage-record'])"
          >
            <img
              width="44"
              height="44"
              src="assets/images-sidebar-old/usage-record.svg"
              alt=""
            />
            <div class="f-size-w6-16">
              {{ "TOP_SCREEN.USAGE_RECORD.TITLE" | translate }}
            </div>
          </div>

          <div
            class="path-item-3 margin-left-menu"
            (click)="onRedirect(['/managements/notica-management'])"
          >
            <img
              width="44"
              height="44"
              src="assets/images-sidebar-old/notification.svg"
              alt=""
            />
            <div class="f-size-w6-16">
              {{ "TOP_SCREEN.NOTICA_MANAGEMENT.TITLE" | translate }}
            </div>
          </div>

          <div
            class="path-item-3"
            (click)="onRedirect(['/managements/operation'])"
          >
            <img
              width="44"
              height="44"
              src="assets/images-sidebar-old/operation.svg"
              alt=""
            />
            <div class="f-size-w6-16">
              {{ "TOP_SCREEN.OPERATION.TITLE" | translate }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <br />
    <br />
  </div>

  <br />
  <br />
  <div class="card px-3 py-3">
    <div class="d-flex flex-wrap path-items my-4 px-4">
      <div
        class="path-item-4 margin-left-menu"
        (click)="onRedirect(['/managements/user'])"
      >
        <img
          width="44"
          height="44"
          src="assets/images-sidebar-old/user.svg"
          alt=""
        />
        <div class="f-size-w6-16">
          {{ "TOP_SCREEN.USER.TITLE" | translate }}
        </div>
      </div>

      <div class="path-item-4" (click)="changePassword()">
        <img
          width="44"
          height="44"
          src="assets/images-sidebar-old/change-password.svg"
          alt=""
        />
        <div class="f-size-w6-16">
          {{ "TOP_SCREEN.CHANGE_PASSWORD.TITLE" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
