<div class="assessment-container">
  <!-- Check and Score -->
  <!-- <app-grade-detail-assessment-check-score></app-grade-detail-assessment-check-score> -->
  <!-- Visual Inspection -->
  <app-grade-detail-assessment-visual-inspection [gradeVisualInspection]="gradeVisualInspection"></app-grade-detail-assessment-visual-inspection>
  <!-- Functional Checks -->
  <app-grade-detail-assessment-functional-checks [gradeFunctionalChecks]="gradeFunctionalChecks"></app-grade-detail-assessment-functional-checks>
  <!-- Grade -->
  <app-grade-detail-assessment-grade [grade]="grade"></app-grade-detail-assessment-grade>
</div>
