<div class="row">
  <div class="col-6 col-md-8 offset-3 offset-md-2">
    <div class="card terms-of-use">
        <div class="content">
          <h5 [innerHTML]="'TT_SERVICE_USAGE_PROCEDURE' | translate"></h5>
          <button class="btn btn-success btn-lg mt-5 p-5" [routerLink]="['./']">{{ 'BT_SERVICE_USAGE_PROCEDURE' | translate }}</button>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-grid gap-2 my-2">
            <button (click)="navigateTopScreen()" class="btn btn-success">{{'BT_CLOSE' | translate}}</button>
        </div>
      </div>
  </div>
</div>
