<form [formGroup]="userForm">
  <div class="row">
    <div class="col-3 mb-4">
      <label for="number" class="fw-bold">{{'user_form.userId' | translate}}</label>
    </div>
    <div class="col-9 mb-4">
      <nz-input-group [nzSuffix]="inputClearTplUserId">
        <input type="text" nz-input placeholder="" id="number" formControlName="number" />
      </nz-input-group>
      <ng-template #inputClearTplUserId>
        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="f['number'].value" (click)="f['number'].setValue(null)"></i>
      </ng-template>
      <div class="text-danger small" *ngIf="f['number'].touched && f['number'].invalid">
        <div *ngIf="f['number'].errors['required']">{{'err_required' | translate}}</div>
      </div>
    </div>
    <div class="col-3 mb-4">
      <label for="userNameChi" class="fw-bold">{{'user_form.chineseName' | translate}}</label>
    </div>
    <div class="col-9 mb-4">
      <nz-input-group [nzSuffix]="inputClearTplChineseName">
        <input type="text" nz-input placeholder="" id="userNameChi" formControlName="userNameChi" />
      </nz-input-group>
      <ng-template #inputClearTplChineseName>
        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="f['userNameChi'].value" (click)="f['userNameChi'].setValue(null)"></i>
      </ng-template>
      <div class="text-danger small" *ngIf="f['userNameChi'].touched && f['userNameChi'].invalid">
        <div *ngIf="f['userNameChi'].errors['required']">{{'err_required' | translate}}</div>
      </div>
    </div>

    <div class="col-3 mb-4">
      <label for="userNameEng" class="fw-bold">{{'user_form.englishName' | translate}}</label>
    </div>
    <div class="col-9 mb-4">
      <nz-input-group [nzSuffix]="inputClearTplEnglishName">
        <input type="text" nz-input placeholder="" id="userNameEng" formControlName="userNameEng" />
      </nz-input-group>
      <ng-template #inputClearTplEnglishName>
        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="f['userNameEng'].value" (click)="f['userNameEng'].setValue(null)"></i>
      </ng-template>
      <div class="text-danger small" *ngIf="f['userNameEng'].touched && f['userNameEng'].invalid">
        <div *ngIf="f['userNameEng'].errors['required']">{{'err_required' | translate}}</div>
      </div>
    </div>

    <div class="col-3 mb-4">
      <label for="title" class="fw-bold">{{'user_form.title' | translate}}</label>
    </div>
    <div class="col-9 mb-4">
      <nz-select class="w-100" formControlName="title" [nzDisabled]="!!userData">
        <ng-container *ngFor="let rol of titleList">
          <nz-option [nzValue]="rol" [nzLabel]="rol | translate"></nz-option>
        </ng-container>
      </nz-select>
      <div class="text-danger small" *ngIf="f['title'].touched && f['title'].invalid">
        <div *ngIf="f['title'].errors['required']">{{'err_required' | translate}}</div>
      </div>
    </div>

    <div class="col-3 mb-4">
      <label for="email" class="fw-bold">{{'user_form.email' | translate}}</label>
    </div>
    <div class="col-9 mb-4">
      <nz-input-group [nzSuffix]="inputClearTplEmail">
        <input type="text" nz-input placeholder="" id="email" formControlName="email" />
      </nz-input-group>
      <ng-template #inputClearTplEmail>
        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="f['email'].value" (click)="f['email'].setValue(null)"></i>
      </ng-template>
      <div class="text-danger small">
        <ng-container *ngIf="f['email'].touched && f['email'].invalid">
          <div *ngIf="f['email'].errors['required']">{{'err_required' | translate}}</div>
          <div *ngIf="f['email'].errors['email']">{{'err_format' | translate}}</div>
        </ng-container>
        <ng-container *ngIf="error">
          <div *ngIf="error?.toLowerCase().includes('email')">{{error}}</div>
        </ng-container>
      </div>
    </div>

    <div class="col-3 mb-4">
      <label for="phoneNumber" class="fw-bold">{{'user_form.phone' | translate}}</label>
    </div>
    <div class="col-9 mb-4">
      <nz-input-group [nzSuffix]="inputClearTplPhone">
        <input type="text" nz-input placeholder="" id="phoneNumber" formControlName="phoneNumber" maxlength="11" />
      </nz-input-group>
      <ng-template #inputClearTplPhone>
        <i nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="f['phoneNumber'].value" (click)="f['phoneNumber'].setValue(null)"></i>
      </ng-template>
      <div class="text-danger small">
        <ng-container *ngIf="f['phoneNumber'].touched && f['phoneNumber'].invalid">
          <div *ngIf="f['phoneNumber'].errors['required']">{{'err_required' | translate}}</div>
          <div *ngIf="f['phoneNumber'].errors['pattern']">{{'err_format' | translate}}</div>
          <div *ngIf="f['phoneNumber'].errors['maxlength']">{{'err_maxlength' | translate}}</div>
        </ng-container>
        <ng-container *ngIf="error">
          <div *ngIf="checkShowErrorBE()">{{error}}</div>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="!userData">
      <div class="col-3 mb-4">
        <label for="password" class="fw-bold">{{'user_form.password' | translate}}</label>
      </div>
      <div class="col-9 mb-4">
        <input type="text" nz-input placeholder="123456" id="password" formControlName="password" />
      </div>
    </ng-container>
  </div>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="onCancel()">{{'cancel' | translate}}</button>
  <button nz-button nzType="primary" (click)="onSubmit()" [nzLoading]="isSubmitting">{{'ok' | translate}}</button>
</div>
