<div class="card shadow p-1">
    <div class="card-header border-0 p-3">
        <h4 class="m-0">
            {{'TT_CHANGE_PASSWORD'| translate}}
            <!-- <i nz-icon nzType="close" nzTheme="outline" class="float-right close-icon"
      (click)="close()" aria-hidden="true"
      ></i> -->
            <div class="cursor-pointer float-right" (click)="close()">
                <img src="assets/images/close-modal.svg" />
            </div>
        </h4>
    </div>
    <!-- <h4 class="card-header">
    {{'TT_CHANGE_PASSWORD'| translate}}
    <button class="btn position-absolute top-1 end-0" type="button" (click)="close()">
      <em class="fa fa-times font-size-1-5 float-right" aria-hidden="true"></em>
    </button>
  </h4> -->
    <div class="p-5 pb-0 py-3">
        <form [formGroup]="form">
            <div class="row mb-3">
                <label for="password" class="col-sm-3 col-form-label">{{'LB_CURRENT_PASSWORD' | translate}}</label>
                <div class="col-sm-9 position-relative">
                    <input type="password" formControlName="currentPassword" class="form-control" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="password" class="col-sm-3 col-form-label">{{'LB_NEW_PASSWORD' | translate}}</label>
                <div class="col-sm-9 position-relative">
                    <input type="password" formControlName="password" class="form-control" />
                </div>
            </div>
            <div class="row mb-3">
                <label for="password" class="col-sm-3 col-form-label" [innerHTML]="'LB_RE_ENTER_PASSWORD' | translate"></label>
                <div class="col-sm-9 position-relative">
                    <input type="password" formControlName="confirmPassword" class="form-control" />
                </div>
            </div>

            <div class="form-group err-wrapper my-2">
                <div class="text-danger small" *ngIf="f['currentPassword'].touched && f['currentPassword'].hasError('required')">
                    {{'ERR_MSG_REQUIRED' | translate : {field: 'LB_CURRENT_PASSWORD' | translate } }}
                </div>
                <div class="text-danger small" *ngIf="f['currentPassword'].touched && f['currentPassword'].hasError('pattern')">
                    {{'ERR_MSG_INVALID' | translate : {field: 'LB_CURRENT_PASSWORD' | translate } }}
                </div>

                <div class="text-danger small" *ngIf="f['password'].touched && f['password'].hasError('required')">
                    {{'ERR_MSG_REQUIRED' | translate : {field: 'LB_NEW_PASSWORD' | translate } }}
                </div>

                <div class="text-danger small" *ngIf="f['password'].touched && f['password'].hasError('pattern')">
                    {{'ERR_MSG_INVALID' | translate : {field: 'LB_NEW_PASSWORD' | translate } }}
                </div>

                <div class="text-danger small" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].hasError('required')">
                    {{'ERR_MSG_REQUIRED' | translate : {field: 'LB_NEW_PASSWORD_RE_ENTER' | translate } }}
                </div>

                <div class="text-danger small" *ngIf="f['confirmPassword'].touched && f['confirmPassword'].hasError('pattern')">
                    {{'ERR_MSG_INVALID' | translate : {field: 'LB_NEW_PASSWORD_RE_ENTER' | translate } }}
                </div>

                <div class="text-danger small" *ngIf="f['confirmPassword'].touched && form.errors?.['mustMatch'] && f['password'].value">
                    {{'MSG_NOT_MATCH_NEW_PASSWORD' | translate }}
                </div>

                <div *ngIf="formErrors && formErrors?.fieldErrors[0]?.code !== 'ERR_11'" class="text-danger small">
                    <div>{{'ERR_MSG_SUBMIT_FAIL' | translate }}</div>
                </div>

                <div *ngIf="formErrors?.fieldErrors[0]?.code === 'ERR_11'" class="text-danger small">
                    <div>{{'MSG_INCORRECT_CURRENT_PASSWORD' | translate }}</div>
                </div>
            </div>

            <!-- <div class="d-flex justify-content-center gap-3 mt-5 mb-2 px-5">
          <button [disabled]="loading" class="btn btn-secondary flex-grow-1" (click)="close()">
            {{'BT_CLOSE' | translate}}
          </button>
          <button [disabled]="loading" class="btn btn-success flex-grow-1" (click)="changePassword()">
           <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{'BT_CHANGE' | translate}}
          </button>
        </div> -->
        </form>
    </div>
    <div class="mb-2 p-4">
        <div class="d-grid gap-2 d-flex justify-content-center">
            <button id="btnConfirm" type="button" [disabled]="loading" class="mx-3 w-25" nz-button nzSize="large" nzType="primary" (click)="changePassword()">
      {{'BT_CHANGE' | translate}}
      </button>
        </div>
    </div>
</div>
