<div class="modal-header justify-content-end px-4 border-0">
    <!-- <h4>
    {{'TT_COMPANY_SELECTION' | translate}}
  </h4> -->
    <!-- <i nz-icon nzType="close" nzTheme="outline" class="float-right close-icon" (click)="backToList()" aria-hidden="true"></i> -->
    <div class="cursor-pointer float-right" (click)="backToList()">
        <img src="assets/images/close-modal.svg" />
    </div>
</div>
<div class="modal-body">
    <!-- <h4 class="card-header border-bottom">
    {{'TT_COMPANY_SELECTION'| translate}}
    <i class="fa fa-times float-right" (click)="backToList()" aria-hidden="true"></i>
  </h4> -->
    <form [formGroup]="form">
        <div class="container-fluid">
            <div class="overflow-hidden">
                <div class="row mb-3 pe-5">
                    <div class="col-sm-7">
                        <input type="text" formControlName="searchBox" class="form-control" [placeholder]="'PLAYHOLDER_COMPANY_SELECTION' | translate" [ngClass]="{ 'is-invalid': submitted }" />
                    </div>
                </div>

                <app-paging [totalItems]="pagingConfig.availableElements" [itemsPerPage]="pagingConfig.itemsPerPage" [page]="pagingConfig.currentPage" [availablePages]="pagingConfig.availablePages" (pagingEvent)="receivePaging($event)" [filterSettings]="filterSettings"
                    [filterSource]="filterSource">
                </app-paging>

                <div class="row mb-3 ps-2">
                    <!-- <div class="row me-auto bd-highlight align-items-center ps-4">
            {{'LB_NUMBER_PER_PAGE'| translate}}
            <div class="me-auto bd-highlight col-md-3">
              <select class="form-select w-75" [ngModelOptions]="{standalone: true}" [(ngModel)]="displayPerPage" aria-label="Sorting" (change)="pageChange($event)">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
          </div> -->
                </div>
                <div class="col-md-5 py-2 px-4 d-flex flex-column" *ngIf="companyList.length < 1 && !form.controls['searchBox'].hasError('maxlength')">
                    <p class="my-1 text-danger small">{{'SEARCH_MSG_NOT_FOUND' | translate}}</p>
                </div>
                <div class="col-md-5 py-2 px-4 d-flex flex-column" *ngIf="form.controls['searchBox'].touched && form.controls['searchBox'].hasError('maxlength')">
                    <p class="my-1 text-danger small">{{'ERR_COMPANY_SEARCH_MAXLENGTH' | translate}}</p>
                </div>
                <div class="row mb-3 px-3 row-w-tbl" [hidden]="companyList.length < 1">
                    <table class="table-primary table-custom ps-5 ">
                        <!-- <thead>
                            <tr class="border-bottom">
                                <th class="w-10 "></th>
                                <th class="w-40 ps-2">{{ 'LB_COMPANY_ID' | translate }}</th>
                                <th class="w-50 ps-2">{{ 'LB_COMPANY_NAME' | translate }}</th>
                            </tr>
                        </thead> -->
                        <tbody class="company">
                            <tr class="border-bottom" (click)="chooseCompany(company)" *ngFor="let company of companyList | paginate: { itemsPerPage: pagingConfig.itemsPerPage, currentPage: pagingConfig.currentPage , totalItems: pagingConfig.availableElements }">
                                <td class="text-center"><input class="form-check-input" type="radio" [checked]="onSelectedCompany?.id === company.id" name="flexRadioDefault" (change)="chooseCompany(company)" id="flexRadioDefault1"></td>
                                <td class="ps-2">{{company.id}}</td>
                                <td class="ps-2">{{company.companyName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="paging pb-2 overflow-hidden">
                    <!-- <app-pagination [itemsPerPage]="10" [totalItems]="companyList?.length" (pagingEvent)="receivePaging($event)"
            class="float-md-end"></app-pagination>
          <span class="ps-3">{{pagingConfig.availableElements}}{{'LB_ELEMENTS' | translate}} {{startPage}}{{'LB_STARTPAGE' | translate}} {{endPage}}{{'LB_ENDPAGE' | translate}}</span> -->
                    <app-paging [totalItems]="pagingConfig.availableElements" [itemsPerPage]="pagingConfig.itemsPerPage" [page]="pagingConfig.currentPage" [availablePages]="pagingConfig.availablePages" (pagingEvent)="receivePaging($event)" [filterSettings]="filterSettings"
                        [filterSource]="filterSource">
                    </app-paging>
                </div>
            </div>
            <div>
                <div class="w-75 mx-auto d-flex gap-3 m-2 px-5">
                    <!-- <button class="flex-grow-1" nz-button nzType="default" nzSize="large" nzShape="round" (click)="backToList()" type="button">
            {{'BT_BACK' | translate}}
          </button> -->
                    <button class="flex-grow-1" nz-button nzGhost nzType="primary" nzSize="large" nzShape="round" (click)="clear()" type="button">
                        {{'BT_CLEAR' | translate}}
                    </button>
                    <button class="flex-grow-1" nz-button nzType="primary" nzSize="large" nzShape="round" (click)="submit()" type="button">
                        {{'BT_CHOICE' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>