@import 'variables/color';
.row-w-tbl {
    max-height: 33vh;
    overflow-y: scroll;
    .table-custom {
        .company {
             :hover {
                background-color: $black-squeeze;
            }
        }
        border-top: $black;
        th,
        td {
            border-bottom: $black;
        }
        thead {
            th {
                font-weight: 400;
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
        tbody {
            td {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
        }
    }
}