<div class="btn-group">
    @Html.ActionLink("Order by FirstName", "OrderByFirstName", "Home", null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    @Html.ActionLink("Order by LastName", "OrderByLastName", "Home", null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
    @Html.ActionLink("Order by Birthday", "OrderByBirthday", "Home", null, htmlAttributes: new { @class = "btn btn-primary", @role = "button" })
</div>
<p></p>