<div class="field-container">
  <div class="field-header header">Check and score tables</div>
  <div class="field-content">
    <div class="row-container">
      <div class="cell-container id-container check-score-id">
        1
      </div>
      <div class="cell-container check-score-content">
        Complete work tasks according to the schedule
      </div>
    </div>
    <div class="row-container">
      <div class="cell-container id-container check-score-id">
        2
      </div>
      <div class="cell-container check-score-content">
        Station 7S
      </div>
    </div>
  </div>
</div>
