@import '~@angular/material/theming';
@import 'assets/font/iconfont.css';
@import 'assets/font/dincond-font.scss';
@import 'scss/variables';
@import 'scss/mixins';

@include mat-core();
$primary: mat-palette($mat-green, A700, A300, A900);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

html,
body {
  min-height: 100%;
  height: 100%;
  line-height: normal;
  font-family: Arial, 'Helvetica Neue', Arial, sans-serif;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

mat-sidenav-container {
  height: 100%;
}

.mat-sidenav-content::-webkit-scrollbar,
body::-webkit-scrollbar,
mat-sidenav.sidenav::-webkit-scrollbar,
.main-container::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

.mat-sidenav-content::-webkit-scrollbar-trac,
body::-webkit-scrollbar-track,
mat-sidenav.sidenav::-webkit-scrollbar-trac,
.main-container::-webkit-scrollbar-trac {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.mat-sidenav-content::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
mat-sidenav.sidenav::-webkit-scrollbar-thumb,
.main-container::-webkit-scrollbar-thumb {
  background-color: #6e6e6e;
  outline: 1px solid #333;
}
.mat-drawer-content {
  background: #ebeff2;
}
.filter_form .mat-icon-button {
  width: 20px !important;
  height: 20px !important;
  line-height: 20px !important;
}
.filter_form .mat-input-element {
  border: none;
  border-bottom: 1px solid #b8b8b8;
  padding: 3px 0;
  width: 90px;
}
.filter_form .mat-form-field-wrapper {
  padding: 0 !important;
  margin: 0 !important;
}
.filter_form .mat-form-field-underline {
  height: 0 !important;
}
tr.mat-footer-row,
tr.mat-row {
  position: relative;
}
.mat-tooltip {
  margin: 14px 3px !important;
}
.mat-toolbar {
  background: #ffffff !important;
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 60px !important;
}
.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-keyboard-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-program-focused,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background: none;
}
.mat-card {
  padding: 0 !important;
}

// override devExtreme styles
.dx-datagrid {
  .dx-datagrid-header-panel {
    padding: 10px 10px 0 10px;
  }
}

.nohover {
  pointer-events: none !important;
}
