<form [formGroup]="editingForm">
  <div class="card user-editing-modal">
    <h4 class="card-header">
      {{'TT_USER_EDITING_MODAL' | translate}}
      <i nz-icon nzType="close" nzTheme="outline" class="float-right" (click)="close()" aria-hidden="true"></i>
    </h4>
      <div class="content">
        <div class="container">
          <div class="row mb-3 align-items-center">
            <label class="col-sm-3 col-form-label fw-bold">{{'LB_COMPANY' | translate}}</label>
            <div class="col-sm-7">
              <p class="m-0">{{f['userCompanyId'].value}}</p>
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label for="userEmail" class="col-sm-3 col-form-label fw-bold">{{'LB_EMAIL_ADDRESS' | translate}}</label>
            <div class="col-sm-7">
              <input type="email" class="form-control" id="userEmail" formControlName="userEmail"
                placeholder="xxx@xxx.com"/>
              <div class="text-danger"
                *ngIf="editingForm.controls['userEmail'].touched && editingForm.controls['userEmail'].invalid">
                <div *ngIf="editingForm.controls['userEmail'].errors['required']">
                  {{'ERR_MSG_USER_EMAIL_REQUIRED' | translate}}
                </div>
                <div *ngIf="editingForm.controls['userEmail'].errors['email']">
                  {{'ERR_MSG_USER_EMAIL_FORMAT' | translate}}
                </div>
                <div *ngIf="editingForm.controls['userEmail'].errors['maxlength']">
                  {{'ERR_MSG_USER_EMAIL_MAXLENGTH' | translate}}
                </div>
              </div>
              <div class="text-danger" *ngIf=" editingForm.valid && isEmailExisted">
                  {{'ERR_MSG_USER_EMAIL_NOTCHANGED' | translate}}
              </div>
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label class="col-sm-3 col-form-label fw-bold">{{'LB_AUTHORITY_CLASSIFICATION' | translate}}</label>
            <div class="col-sm-7">
              <select class="form-select" aria-label="Default select example" formControlName="userSelection">
                <option *ngFor="let item of authotiryOptions" [value]="item.value">{{item.key | translate}}</option>
              </select>
            </div>
          </div>
          <div class="row mb-3 align-items-center">
            <label class="col-sm-3 col-form-label fw-bold">{{'LB_ACCESS_RESTRICTION' | translate}}</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col">
                  <input class="form-check-input me-2" type="radio" name="accessCheckFlag" id="isNotLimit" formControlName="accessCheckFlag"
                    [value]="false"
                    >
                  <label class="form-check-label" for="isNotLimit">
                    {{'LB_NOT_LIMIT' | translate}}
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input me-2" type="radio" name="accessCheckFlag" id="isLimit" formControlName="accessCheckFlag"
                    [value]="true"
                    >
                  <label class="form-check-label" for="isLimit">
                    {{'LB_LIMIT' | translate}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="editingForm.value.accessCheckFlag === true" class="row mb-3 align-items-center">
            <label class="col-sm-3 col-form-label fw-bold">{{'LB_ACCESS_PERMISSION' | translate}}</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col">
                  <input class="form-check-input me-2" type="radio" name="permissionType" id="domain" formControlName="permissionType"
                    [value]="'DOMAIN'"

                    >
                  <label class="form-check-label" for="domain">
                    {{'LB_NETWORK_DOMAIN' | translate}}
                  </label>
                </div>
                <div class="col">
                  <input class="form-check-input me-2" type="radio" name="permissionType" id="ipAdress" formControlName="permissionType"
                    [value]="'IP_ADDRESS'"
                    >
                  <label class="form-check-label" for="ipAdress">
                    {{'LB_IP_ADDRESS' | translate}}
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="editingForm.value.accessCheckFlag === true" class="row mb-3 align-items-center">
            <label class="col-sm-3 col-form-label fw-bold"></label>
            <div class="col-sm-9 col-md-7">
              <textarea *ngIf="editingForm.value.permissionType === 'IP_ADDRESS'" type="text" class="form-control" formControlName="ipAddress"> </textarea>
              <input *ngIf="editingForm.value.permissionType === 'DOMAIN'" type="text" class="form-control" formControlName="domain">
              <div class="text-danger small">
                <div *ngIf="domainValidateFail === true && editingForm.value.permissionType === 'DOMAIN'">
                  {{'ERR_DOMAIN_ADDRESS_REQUIRED' | translate}}
                </div>
              </div>
              <div class="text-danger small">
                <div *ngIf="ipValidateFail === true && editingForm.value.permissionType === 'IP_ADDRESS'">
                  {{'ERR_IP_ADDRESS_REQUIRED' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row my-3">
        <div class="col-sm-12 d-flex gap-3 justify-content-center">
          <button class="btn btn-secondary btn-submit-xs" type="button" (click)="close()">
            {{'BT_BACK_TO_INDEX' | translate}}
          </button>
          <button *ngIf="userData.status === 'ACCOUNT_LOCKED'" class="btn btn-danger btn-submit-xs" type="button" (click)="unlock()">
            {{'BT_UNLOCK_USER' | translate}}
          </button>
          <button class="btn btn-success btn-submit-xs" type="button" (click)="gotoConfirmScreen()">
            {{'BT_TO_CONFIRM_SCREEN' | translate}}
          </button>
        </div>
      </div>
    </div>
</form>
