<div class="card border-0 p-3">
  <div class="card-body p-4">
    <h6 class="f-size-w6-32 mb-4">
      {{ "TT_PASSWORD_RESET" | translate }}
    </h6>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <label for="password" class="col-sm-3 col-form-label">{{
          "LB_PASSWORD" | translate
        }}</label>
        <div class="col-sm-9 col-md-5 position-relative">
          <input
            type="password"
            formControlName="password"
            class="form-control"
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="password" class="col-sm-3 col-form-label">{{
          "LB_PASSWORD_RE_ENTER" | translate
        }}</label>
        <div class="col-sm-9 col-md-5 position-relative">
          <input
            type="password"
            formControlName="confirmPassword"
            class="form-control"
          />
        </div>
      </div>

      <div class="form-group err-wrapper my-2">
        <div
          class="text-danger small"
          *ngIf="f['password'].touched && f['password'].invalid"
        >
          <div *ngIf="f['password'].errors['required']">
            {{
              "ERR_MSG_REQUIRED"
                | translate: { field: "LB_PASSWORD" | translate }
            }}
          </div>
          <div *ngIf="f['password'].errors['pattern']">
            {{
              "ERR_MSG_INVALID"
                | translate: { field: "LB_PASSWORD" | translate }
            }}
          </div>
        </div>

        <div
          class="text-danger small"
          *ngIf="f['confirmPassword'].touched && f['confirmPassword'].invalid"
        >
          <div *ngIf="f['confirmPassword'].errors['required']">
            {{
              "ERR_MSG_REQUIRED"
                | translate: { field: "LB_PASSWORD_RE_ENTER" | translate }
            }}
          </div>
          <div *ngIf="f['confirmPassword'].errors['pattern']">
            {{
              "ERR_MSG_INVALID"
                | translate: { field: "LB_PASSWORD_RE_ENTER" | translate }
            }}
          </div>
        </div>
        <div
          class="text-danger small"
          *ngIf="f['confirmPassword'].touched && form.errors?.['mustMatch'] && f['password'].value"
        >
          {{ "MSG_NOT_MATCH_PASSWORD" | translate }}
        </div>
        <div
          *ngIf="formErrors && formErrors?.fieldErrors?.code !== 'ERR_11'"
          class="text-danger small"
        >
          <div>
            {{
              formErrors?.fieldErrors?.message || "MSG_URL_EXPIRED_DATE"
                | translate
            }}
          </div>
        </div>
      </div>
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        nzShape="round"
        [disabled]="loading"
        class="w-25"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        {{ "BT_NEXT" | translate }}
      </button>
    </form>
  </div>
</div>

<app-modal [modalObject]="confirmModal">
  <div class="notify-container p-3">
    <p class="mb-4">{{ "MSF_USER_REGISTER_COMPLETELY" | translate }}</p>
    <p [innerHTML]="'MSG_ANNOUNCE_FOR_USER_RESET_PASSWORD' | translate"></p>
  </div>
</app-modal>
