<table>
  <tr>
    <td class="title text-bold">Total shipments in last 7days</td>
    <td class="text">Total shipments when planned pick up in last 7 days.</td>
  </tr>
  <tr>
    <td class="title text-bold">Risky SN</td>
    <td class="text">The shipments current status has delayed milestone but not delayed in distributing
      <br />& already delayed in delivered when planned pick up in last 7 days.
    </td>
  </tr>
  <tr>
    <td class="title text-bold">Delayed SN</td>
    <td class="text">The shipments’ current status has already delayed in delivered which means act. > req. delivery
      <br />when planned pick up in last 7 days.
    </td>
  </tr>
</table>
