@import 'variables';

table {
  tr {
    vertical-align: top;
  }
  tr:not(:last-child) > td {
    padding-bottom: 5px;
  }
  .title {
    padding: 1px 10px 1px 0;
    text-align: right;
    font-size: $summary-tooltip-font-size;
  }
  .text {
    text-align: left;
    font-size: $summary-tooltip-font-size;
  }
  .text-bold {
    font-weight: bold;
  }
}
