@import "variables";

#login-page {
  .mt-15vh {
    margin-top: 15vh;
  }

  .w-20vw {
    width: 20vw;
  }

  .col-left {
    display: flex;
    flex-direction: column;

    .logo {
      img {
        width: 30%;
      }
    }

    .login-form-button {
      border: none;
      background-color: $secondary-color;

      &:hover {
        color: $white-color;
        background-color: $primary-color;
      }
    }
  }

  .col-right {
    background-color: #E4E7F7;
  }
}
