<table>
  <tr>
    <td class="title text-bold">Total urgent shipment in last 7 days</td>
    <td class="text">Total shipments that required delivery date is today.</td>
  </tr>
  <tr>
    <td class="title text-bold">Delivered SN</td>
    <td class="text">The shipments were delivered to customer today, Act. delivery date available and milestone was "Delivered"</td>
  </tr>
  <tr>
    <td class="title text-bold">SN In Transit</td>
    <td class="text">The shipments haven’t delivered to customer yet but required to delivered within today.</td>
  </tr>
</table>
