.card{
    border-radius: 22px !important;
    border: none;
    &.top-align{
    }
    .card-header{
        border-radius: inherit !important;
        background-color: inherit !important;
            i{
                &.close-icon{
                    opacity: 0.5;
                    margin-top: -7px;
                    font-size: 43px;
                }
            }

    }
    .card-footer{
        border-radius: inherit !important;
        background-color: inherit !important;
    }
}
.btn-confirm{
    width: 150px;
}