<div class="card shadow p-1">
    <div class="card-header border-0 p-3">
        <h4 class="m-0">
            {{'TT_FORGOT_PASSWORD'| translate}}
            <!-- <i nz-icon nzType="close" nzTheme="outline" class="float-right close-icon"
      (click)="close()" aria-hidden="true"
      ></i> -->
            <div class="cursor-pointer float-right" (click)="close()">
                <img src="assets/images/close-modal.svg" />
            </div>
        </h4>
    </div>
    <!-- <h4 class="card-header d-flex justify-content-between align-items-center">
    {{'TT_FORGOT_PASSWORD'| translate}}
    <button class="btn" type="button" (click)="close()">
      <em class="fa fa-times font-size-1-5 float-right" aria-hidden="true"></em>
    </button>
  </h4> -->
    <div class="p-5 pb-0 py-3">
        <form [formGroup]="form">
            <div class="d-flex gap-3 p-3">
                <label for="email" class="col-sm-3 col-form-label">{{'LB_EMAIL_ADDRESS' | translate}}</label>
                <input id="email" type="email" formControlName="email" class="form-control mt-1" [ngClass]="{ 'is-invalid': form.controls['email'].touched
            && form.controls['email'].hasError('required')
            || form.controls['email'].hasError('email')
            || form.controls['email'].hasError('maxlength')}" />
            </div>
            <div class="form-group err-wrapper my-2">
                <div *ngIf="isErrorOccurred && !form.controls['email'].errors" class="text-danger small">
                    {{'ERR_MSG_SUBMIT_FAIL' | translate}}
                </div>
                <div *ngIf=" form.controls['email'].touched && form.controls['email'].hasError('required')" class="text-danger small">
                    {{'ERR_MSG_REQUIRED' | translate : {field: 'LB_EMAIL_ADDRESS' | translate } }}
                </div>

                <div *ngIf=" form.controls['email'].touched && form.controls['email'].hasError('email')" class="text-danger small">
                    {{'ERR_MSG_INVALID' | translate : {field: 'LB_EMAIL_ADDRESS' | translate } }}
                </div>

                <div *ngIf=" form.controls['email'].touched && form.controls['email'].hasError('maxlength')" class="text-danger small">
                    {{'COMMON.ERRORS.EMAIL_MAX_LENGHT' | translate }}
                </div>
            </div>
            <!-- <div class="card-footer">
        <div class="d-flex justify-content-center gap-3 m-2 px-5">
          <button [disabled]="loading" class="btn btn-secondary flex-grow-1" (click)="close()" type="button">
            {{'BT_CLOSE' | translate}}
          </button>
          <button [disabled]="loading" class="btn btn-success flex-grow-1" (click)="submit()" type="button">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            {{'BT_NEXT' | translate}}
          </button>
        </div>
      </div> -->
        </form>
    </div>
    <div class="mb-5 p-4">
        <div class="d-grid gap-2 d-flex justify-content-center">
            <button id="btnConfirm" type="button" [disabled]="loading" class="mx-3 w-25" nz-button nzSize="large" nzType="primary" (click)="submit()">
      {{'BT_CHANGE' | translate}}
      </button>
        </div>
    </div>
</div>

<app-modal [modalObject]="confirmModal">
    <div class="notify-container ps-5 mx-3">
        <p [innerHTML]="'MSG_ANNOUNCE_FOR_FORGET_PASS' | translate"></p>
    </div>
</app-modal>