<div class="modal-header border-0">
  <div class="ps-2 f-size-w3-24">
    {{
      !data.id && !onConfirm
        ? ("TT_USER_CREATION" | translate)
        : ("TT_USER_INFORMATION" | translate)
    }}
  </div>
  <!-- <i nz-icon nzType="close" nzTheme="outline" class="float-right close-icon" (click)="close()" aria-hidden="true"></i> -->
  <div class="cursor-pointer float-right" (click)="close()">
    <img src="assets/images/close-modal.svg" />
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="creationForm" class="form-user-creation-container">
    <div class="container f-size-w3-16">
      <div class="row mb-2 align-items-center">
        <label for="company" class="f-size-w3-18">{{
          "LB_COMPANY" | translate
        }}</label>
        <div *ngIf="!data.id && isAdmin" class="">
          <div class="form-group mb-3 mt-2">
            <button
              *ngIf="!onConfirm"
              class="w-10"
              nzSize="large"
              nz-button
              nzGhost
              nzType="primary"
              nzShape="round"
              type="button"
              (click)="selection(selectedCompany)"
            >
              {{ "BT_COMPANY_SELECTION" | translate }}
            </button>
            <span class="mx-3 text-secondary">{{
              selectedCompany?.companyName
            }}</span>
            <span
              class="text-danger"
              *ngIf="selectCompanyWarning && !selectedCompany?.id"
            >
              {{ "ERR_MSG_USER_COMPANY_REQUIRED" | translate }}
            </span>
          </div>
        </div>
        <span *ngIf="!selectedCompany?.companyName && !data.id" class="my-2">{{
          onCompany?.companyName
        }}</span>
      </div>
      <div *ngIf="data.id" class="mb-3 text-secondary">
        {{ data.companyName }}
      </div>
      <div class="row mb-3 align-items-center">
        <label for="userEmail" class="f-size-w3-18">{{
          "LB_EMAIL_ADDRESS" | translate
        }}</label>
        <div *ngIf="!onConfirm" class="pt-2">
          <input
            type="email"
            class="form-control"
            id="userEmail"
            formControlName="userEmail"
          />
          <div
            class="text-danger"
            *ngIf="f['userEmail'].touched && f['userEmail'].invalid"
          >
            <div *ngIf="f['userEmail'].errors['required']">
              {{ "ERR_MSG_USER_EMAIL_REQUIRED" | translate }}
            </div>
            <div *ngIf="f['userEmail'].errors['email']">
              {{ "ERR_MSG_USER_EMAIL_FORMAT" | translate }}
            </div>
            <div *ngIf="f['userEmail'].errors['maxlength']">
              {{ "ERR_MSG_USER_EMAIL_MAXLENGTH" | translate }}
            </div>
          </div>
        </div>
        <div *ngIf="onConfirm" class="p-4">
          {{ creationForm.value.userEmail }}
        </div>
      </div>
      <div class="row mb-3 align-items-center" *ngIf="!data.id && !onConfirm">
        <label
          for="userEmailReenter"
          class="f-size-w3-18"
          [innerHTML]="'LB_EMAIL_ADDRESS_RE_ENTER' | translate"
        ></label>
        <div class="pt-2">
          <input
            type="email"
            class="form-control"
            id="userEmailReenter"
            formControlName="userEmailReenter"
          />
          <div
            class="text-danger"
            *ngIf="
              f['userEmailReenter'].touched && f['userEmailReenter'].invalid
            "
          >
            <div *ngIf="f['userEmailReenter'].errors['required']">
              {{ "ERR_MSG_USER_EMAIL_RE_ENTER" | translate }}
            </div>
            <div *ngIf="f['userEmailReenter'].errors['email']">
              {{ "ERR_MSG_USER_EMAIL_FORMAT" | translate }}
            </div>
            <div *ngIf="f['userEmailReenter'].errors['maxlength']">
              {{ "ERR_MSG_USER_EMAIL_MAXLENGTH" | translate }}
            </div>
          </div>
          <div class="text-danger">
            <div
              *ngIf="f['userEmailReenter'].touched && creationForm.errors?.['mustMatch']"
            >
              {{ "ERR_MSG_USER_EMAIL_NOT_MATCH" | translate }}
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3 align-items-center">
        <label class="">{{ "LB_AUTHORITY_CLASSIFICATION" | translate }}</label>
        <div *ngIf="!onConfirm" class="pt-3">
          <nz-select
            class="f-size-w3-18 w-50"
            aria-label="Default select example"
            formControlName="userSelection"
            [nzSuffixIcon]="customIconTemplate"
            [nzPlaceHolder]="'LB_USER_SELECT_ROLE' | translate"
          >
            <nz-option
              *ngFor="let item of authotiryOptions"
              [nzValue]="item.value"
              [nzLabel]="item.key | translate"
            ></nz-option>
          </nz-select>
          <small class="invalid-feedback">
            {{ "ERR_USER_SELECT_ROLE" | translate }}
          </small>
          <ng-template #customIconTemplate>
            <div>
              <img src="assets/images/dropdown-user-create.svg" />
            </div>
          </ng-template>
        </div>
        <!-- <select formControlName="userSelection" id="userSelection" placeHolder="'LB_USER_SELECT_ROLE' | translate">
          <option value="item.value" *ngFor="let item of authotiryOptions">
            {{item.key | translate}}
          </option>
        </select> -->
        <div *ngIf="onConfirm" class="p-4">
          {{ getAuthority() | translate }}
        </div>
        <div class="text-danger">
          <!-- <p>{{ f["userSelection"].touched }}</p>
          <p>{{ f["userSelection"].invalid }}</p> -->
          <div>
            <div
              *ngIf="f['userSelection'].touched && f['userSelection'].invalid"
            >
              {{ "ERR_USER_SELECT_ROLE" | translate }}
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!onConfirm">
        <div class="row mb-3 align-items-center">
          <label class="f-size-w3-18">{{
            "LB_ACCESS_RESTRICTION" | translate
          }}</label>
          <div class="pt-3">
            <div class="row">
              <div class="col-4">
                <input
                  class="form-check-input me-2"
                  type="radio"
                  name="accessCheckFlag"
                  id="isNotLimit"
                  formControlName="accessCheckFlag"
                  [value]="false"
                />
                <label class="form-check-label" for="isNotLimit">
                  {{ "LB_NOT_LIMIT" | translate }}
                </label>
              </div>
              <div class="col-4">
                <input
                  class="form-check-input me-2"
                  type="radio"
                  name="accessCheckFlag"
                  id="isLimit"
                  formControlName="accessCheckFlag"
                  [value]="true"
                />
                <label class="form-check-label" for="isLimit">
                  {{ "LB_LIMIT" | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="creationForm.value.accessCheckFlag === true"
          class="row mb-3 align-items-center mt-1"
        >
          <label class="f-size-w3-18">{{
            "LB_ACCESS_PERMISSION" | translate
          }}</label>
          <div class="pt-3">
            <div class="row">
              <div class="col-4">
                <input
                  class="form-check-input me-2"
                  type="radio"
                  name="permissionType"
                  id="domain"
                  formControlName="permissionType"
                  [value]="'DOMAIN'"
                  (change)="resetError()"
                />
                <label class="form-check-label" for="domain">
                  {{ "LB_NETWORK_DOMAIN" | translate }}
                </label>
              </div>
              <div class="col-4">
                <input
                  class="form-check-input me-2"
                  type="radio"
                  name="permissionType"
                  id="ipAdress"
                  formControlName="permissionType"
                  [value]="'IP_ADDRESS'"
                  (change)="resetError()"
                />
                <label class="form-check-label" for="ipAdress">
                  {{ "LB_IP_ADDRESS" | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="onConfirm">
        <div class="row mb-3 align-items-center">
          <label class="f-size-w3-18">{{
            "LB_ACCESS_RESTRICTION" | translate
          }}</label>
          <div class="pt-3">
            <div class="row">
              <div class="col-3">
                <input
                  class="form-check-input me-2"
                  [checked]="creationForm.value.accessCheckFlag === false"
                  [disabled]="
                    onConfirm && creationForm.value.accessCheckFlag !== false
                  "
                  type="radio"
                  name="accessCheckFlag"
                  id="isNotLimit"
                  [value]="false"
                />
                <label class="form-check-label" for="isNotLimit">
                  {{ "LB_NOT_LIMIT" | translate }}
                </label>
              </div>
              <div class="col-3">
                <input
                  class="form-check-input me-2"
                  [checked]="creationForm.value.accessCheckFlag === true"
                  [disabled]="
                    onConfirm && creationForm.value.accessCheckFlag !== true
                  "
                  type="radio"
                  name="accessCheckFlag"
                  id="isLimit"
                  [value]="true"
                />
                <label class="form-check-label" for="isLimit">
                  {{ "LB_LIMIT" | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="creationForm.value.accessCheckFlag === true"
          class="row mb-3 align-items-center mt-1"
        >
          <label class="">{{ "LB_ACCESS_PERMISSION" | translate }}</label>
          <div class="pt-3">
            <div class="row">
              <div class="col-3">
                <input
                  class="form-check-input me-2"
                  [checked]="creationForm.value.permissionType === 'DOMAIN'"
                  [disabled]="
                    onConfirm && creationForm.value.permissionType !== 'DOMAIN'
                  "
                  type="radio"
                  name="permissionType"
                  id="domain"
                  [value]="'DOMAIN'"
                />
                <label class="form-check-label" for="domain">
                  {{ "LB_NETWORK_DOMAIN" | translate }}
                </label>
              </div>
              <div class="col-3">
                <input
                  class="form-check-input me-2"
                  [checked]="creationForm.value.permissionType === 'IP_ADDRESS'"
                  [disabled]="
                    onConfirm &&
                    creationForm.value.permissionType !== 'IP_ADDRESS'
                  "
                  type="radio"
                  name="permissionType"
                  id="ipAdress"
                  [value]="'IP_ADDRESS'"
                />
                <label class="form-check-label" for="ipAdress">
                  {{ "LB_IP_ADDRESS" | translate }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="creationForm.value.accessCheckFlag === true"
        class="row mb-3 align-items-center mt-1"
        [ngClass]="onConfirm ? 'not-interact text-secondary' : ''"
      >
        <label class=""></label>
        <div class="pt-3">
          <textarea
            *ngIf="creationForm.value.permissionType === 'IP_ADDRESS'"
            type="text"
            [ngClass]="onConfirm ? 'text-secondary' : ''"
            class="form-control"
            formControlName="ipAddress"
            (ngModelChange)="resetError()"
          >
          </textarea>
          <input
            *ngIf="creationForm.value.permissionType === 'DOMAIN'"
            type="text"
            [ngClass]="onConfirm ? 'text-secondary' : ''"
            class="form-control"
            formControlName="domain"
            (ngModelChange)="resetError()"
          />
          <div class="text-danger">
            <div
              *ngIf="
                domainValidateFail === true &&
                creationForm.value.permissionType === 'DOMAIN'
              "
            >
              {{ "ERR_DOMAIN_ADDRESS_REQUIRED" | translate }}
            </div>
          </div>
          <div class="text-danger">
            <div
              *ngIf="
                ipValidateFail === true &&
                creationForm.value.permissionType === 'IP_ADDRESS'
              "
            >
              {{ "ERR_IP_ADDRESS_REQUIRED" | translate }}
            </div>
          </div>
          <div class="text-danger">
            <div *ngIf="ipDomainError !== ''">
              {{ ipDomainError | translate }}
            </div>
          </div>
        </div>
      </div>
      <!-- Errors -->
      <div *ngIf="!onConfirm" class="m-4 d-flex justify-content-center">
        <button
          *ngIf="!data.id"
          type="button"
          class="px-5"
          nzSize="large"
          nz-button
          nzType="primary"
          nzShape="round"
          (click)="onSave()"
        >
          {{ "BT_CONFIRM" | translate }}
        </button>
        <button
          *ngIf="data.id"
          type="button"
          class="px-5"
          nzSize="large"
          nz-button
          nzType="primary"
          [disabled]="!onEditForm && data.id"
          nzShape="round"
          (click)="onSave()"
        >
          {{ "BT_CONFIRM" | translate }}
        </button>
      </div>

      <div *ngIf="onConfirm" class="m-4 d-flex justify-content-center">
        <button
          *ngIf="!data.id"
          type="button"
          class="px-5"
          nzSize="large"
          nz-button
          nzType="primary"
          nzShape="round"
          (click)="onSave()"
        >
          {{ "COMMON.BUTTON.BT_REGISTER" | translate }}
        </button>
        <button
          *ngIf="data.id"
          type="button"
          class="px-5"
          nzSize="large"
          nz-button
          nzType="primary"
          [disabled]="!onEditForm && data.id"
          nzShape="round"
          (click)="onSave()"
        >
          {{ "COMMON.BUTTON.BT_REGISTER" | translate }}
        </button>
      </div>
      <!-- <div *ngIf="submitted" class="text-danger">
            <div>{{'ERR_MSG_USER_REGISTED' | translate }}</div>
          </div> -->
      <!-- <div *ngIf="submitted && f['userEmail'].errors" class="text-danger">
              <div *ngIf="f['userEmail'].errors['required']">{{'ERR_MSG_REQUIRED' | translate : {field: 'LB_EMAIL_ADDRESS' |
                translate } }}</div>
            </div>
            <div *ngIf="submitted && f['userEmailReenter'].errors" class="text-danger">
              <div *ngIf="f['userEmailReenter'].errors['required']">{{'ERR_MSG_REQUIRED' | translate : {field: 'LB_EMAIL_ADDRESS_RE_ENTER' |
                translate } }}</div>
            </div>
            <div *ngIf="submitted && f['userSelection'].errors" class="text-danger">
              <div *ngIf="f['userSelection'].errors['required']">{{'ERR_MSG_REQUIRED' | translate : {field: 'LB_AUTHORITY_CLASSIFICATION' |
                translate } }}</div>
            </div> -->
      <!-- <div class="row mt-3">
          <div class="">
            <button class="btn btn-success btn-submit-xs me-3 mb-3" type="button" (click)="onSave()">
              {{'BT_SEND_EMAIL' | translate}}
            </button>
            <button class="btn btn-secondary btn-submit-xs mb-3" type="button" (click)="onBack()">
              {{'BT_BACK_TO_INDEX' | translate}}
            </button>
          </div>
        </div> -->
    </div>
  </form>
</div>

<ng-template #actionsBar></ng-template>

<!-- <div class="card">
  <div class="card-header px-4">
    <div class="d-flex bd-highlight">
      <div class="me-auto bd-highlight">
        <p class="my-2">{{ 'TT_USER_CREATION' | translate }}</p>
      </div>
    </div>
  </div>
</div> -->
