<div [ngClass]="'summary__total ' + theme" [id]="'tooltip-' + data.widgetType">
  <p class="title">{{ title }}</p>
  <div class="total-container">
    <p class="widget-title">{{ data.responseData.data.total | number: '1.0':'en-US' }}</p>
    <div class="shipment-container">
      <!-- <div class="shipment-item" *ngIf="data.widgetType === 0 && (data.responseData.data.normalSN | typeof) !== 'undefined'">
        <p class="shipment-item__title">Normal SN</p>
        <p class="shipment-item--green">{{ data.responseData.data.normalSN | number: '1.0':'en-US' }}</p>
      </div> -->
      <div class="shipment-item" *ngIf="data.widgetType === 0 && (data.responseData.data.riskySN | typeof) !== 'undefined'">
        <p class="shipment-item__title">Risky SN</p>
        <p class="shipment-item--yellow">{{ data.responseData.data.riskySN | number: '1.0':'en-US' }}</p>
      </div>
      <div class="shipment-item" *ngIf="data.widgetType === 0 && (data.responseData.data.delayedSN | typeof) !== 'undefined'">
        <p class="shipment-item__title">Delayed SN</p>
        <p class="shipment-item--red">{{ data.responseData.data.delayedSN | number: '1.0':'en-US' }}</p>
      </div>
      <div class="shipment-item" *ngIf="data.widgetType !== 0 && (data.responseData.data.deliveredSN | typeof) !== 'undefined'">
        <p class="shipment-item__title">delivered SN</p>
        <p class="shipment-item--green">{{ data.responseData.data.deliveredSN | number: '1.0':'en-US' }}</p>
      </div>
      <div class="shipment-item" *ngIf="data.widgetType !== 0 && (data.responseData.data.transitSN | typeof) !== 'undefined'">
        <p class="shipment-item__title">SN in transit</p>
        <p class="shipment-item--green">{{ data.responseData.data.transitSN | number: '1.0':'en-US' }}</p>
      </div>
    </div>
  </div>
</div>
