
@{
    ViewBag.Title = "Index";
}
<br />
<a class="btn btn-info" href="@Url.Action("ChangeCulture", "Multilanguages", new { lang = "en"})">English</a>
<a class="btn btn-info" href="@Url.Action("ChangeCulture", "Multilanguages", new { lang = "ja"})">Japanese</a>
<a class="btn btn-info" href="@Url.Action("ChangeCulture", "Multilanguages", new { lang = "fr"})">French</a>