@import "variables/color";
@import "variables/size";
@import "core/mixin";
/* notify STYLES
-------------------------------*/
#id-notify {
  /* modals are hidden by default */
  display: none;
  .notify {
    font: message-box;
    color: $scorpion;
    /* notify container fixed across whole screen */
    position: fixed;
    top: 61px;
    right: 0;
    bottom: 0;
    width: calc(100% - 390px);
    @media #{$max-mq-xlarge} {
      width: calc(100% - 90px);
    }
    /* z-index must be higher than .notify-background */
    z-index: 1000;

    /* enables scrolling for tall modals */
    overflow: auto;
    height: 100%;

    .notify-body {
      min-height: 100%;
      background: $gallery;
      .highlight {
        min-height: 46px;
        .date-type {
          flex: 2;
        }
        .title {
          flex: 6;
        }
        .flag {
          flex: 3;
        }
      }
      .sub-title-text {
        border: none;
        background-color: transparent;
        resize: none;
        outline: none;
      }
      .icon-collapse {
        color: $dove-gray;
        font-size: 30px;
        &:hover {
          color: $black;
          cursor: pointer;
        }
      }
    }

    .spiner {
      text-align: center;
      border-radius: 4px;
      margin-bottom: 20px;
      padding: 15px 35px 54px;
      .ant-spin-dot-item {
        background-color: $primary;
        z-index: 99999;
      }
    }
  }
  @keyframes move-down {
    to {
      transform: translateY(0%);
    }
    from {
      transform: translateY(-100%);
    }
  }
  @keyframes move-up {
    to {
      transform: translateY(-100%);
    }
    from {
      transform: translateY(0%);
    }
  }

  .notify-background {
    /* notify background fixed across whole screen */
    position: fixed;
    top: 59px;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    background-color: $black;
    opacity: 0.75;

    /* z-index must be below .notify and above everything else  */
    z-index: 900;
  }
}

body.notify-open {
  /* body overflow is hidden to hide main scrollbar when notify window is open */
  overflow: hidden !important;
}
