@import "variables/color";
@import "variables/size";
@import "core/mixin";

$font-size-standard-md: 0.825 * $font-size-standard;
$font-size-standard-lg: 0.925 * $font-size-standard;
$font-size-standard-xl: 1.12 * $font-size-standard;

.receipt-form {
  .details-datetime {
    text-align: right;
  }
  .col-form-label {
    font-size: $font-size-18;
  }
  .text-green {
    color: $primary;
    i {
      color: $primary;
    }
  }
  .photo-edit {
    &-container {
      display: flex;
      background-color: $alto;
    }
    &__preview {
      flex: 1;
    }
    &__actions {
      background-color: $silver-chalice;
      i {
        font-size: 1.2rem;
      }
    }
    &__items {
      max-width: $max-width-receipt;
    }
    &__choose {
      display: flex;
      flex-direction: column;
      background-color: $mine-shaft;
      button:first-child p {
        padding: inherit;
      }
    }
  }
  .preview-img {
    &-container {
      background-color: $gallery;
    }
    &-placeholder {
      img {
        width: 100%;
        object-fit: contain;
      }
      .border-selected {
        position: relative; // to make outline not getting hidden by next element
        outline: 3px solid $primary !important;
      }
    }
  }
  .redirect-hover {
    cursor: pointer;
  }
  .scaleable-wrapper {
    height: 0;
    padding-bottom: calc($max-height-receipt / $max-width-receipt * 100%);
    .very-specific-design {
    }
  }
}

pre {
  font-family: "NotoSansJP";
  font-size: $font-size-standard-md;
  // white-space: pre-wrap;
  // word-break: break-all;
  @media #{$min-mq-large} {
    font-size: $font-size-standard-lg;
  }
  @media #{$min-mq-xlarge} {
    font-size: $font-size-standard-xl;
  }
}

textarea,
pre {
  &.double-size {
    font-size: 2 * $font-size-standard-md;
    @media #{$min-mq-large} {
      font-size: 2 * $font-size-standard-lg;
    }
    @media #{$min-mq-xlarge} {
      font-size: 2 * $font-size-standard-xl;
    }
  }
}
