div#wrapper {
    background-color: #f1f1f1;
}

.middle_content{
	margin-top: 1%;
}

.content_dashboard {
    
}

.page_title{
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.5em 0;
}

.left_content{
    padding-right: 0;
}

.right_content{
    padding: 0;
    box-shadow: 1px 1px 2px 0px #ccc;
    background-color: #ffff;
}

.pet_content{
	background-color: #fff;
	border-right: 1px solid #ccc;
    box-shadow: -1px 1px 2px 0px #ccc;
}

.pet_heading h1#description {
    color: #2b2b2b;
    font-size: 35px;
    line-height: 35px;
}

.pet_count_cmt_block{
	padding-right: 24px;
    margin-right: 0;
    position: relative;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 15px;
}

a.tab_comments{
	color: #2b2b2b;
}
a.tab_comments:hover{
	text-decoration: none;
}

.pet_description{
	border-bottom: 1px solid #eaeaea;
    padding: 1.5rem 0;
    margin: 0 0 .6rem;
    overflow: hidden;
}
.pet_description p{
	font-size: 18px;
}

.pet_img{
    width: 60%;
    float: left;
    clear: both;
    margin: 0 1em .4em 0;
}

.aside_area{
	background-color: #fff;
	padding: 15px 15px 0;
}

.aside_pet{
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.aside_pet:last-child{
	border: none;
}

.aside_heading{
	background-color: #fff;
    padding: 10px 0;
    margin: 0 0 2px;
    box-shadow: 0 1px 2px 0 #ccc;
}

.aside_heading h3{
	margin: 0;
    font-weight: 600;
    font-size: x-large;
}

.aside_petcontent{
    color: #333;
}
.aside_petcontent h4{
    color:#0898ff;
}
.aside_petcontent p{
    text-align: left;
}

/* div pet content */
#hide_content{
    margin-bottom: -1px;
    height: 20vh;
    position: fixed;
    bottom: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}