<div class="card border-0 user-management">
  <!-- <div class="card-header px-4">
    <div class="d-flex bd-highlight">
      <div class="me-auto bd-highlight">
        <p class="my-2">{{ 'TT_USER_MANAGEMENT' | translate }}</p>
      </div>
      <div class=" bd-highlight">
        <button class="btn btn-success btn-submit-xs btn-w-icon" type="button" (click)="createNewUser()">
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          {{'BT_ADD_NEW' | translate}}</button>
      </div>
    </div>
  </div> -->
  <div class="py-4 px-0">
    <div class="filter-section px-5 mb-4 width-100">
      <div class="d-flex row justify-content-start align-items-center">
        <div class="col-2 d-flex justify-content-center">
          {{ "BT_FILTER" | translate }}
        </div>
        <div class="col-2" *ngIf="onAdmin">
          <button
            class="px-4"
            nz-button
            nzGhost
            nzType="primary"
            nzSize="large"
            nzShape="round"
            type="button"
            (click)="selection(selectedCompany)"
          >
            {{ "BT_COMPANY_SELECTION" | translate }}
          </button>
        </div>
        <div class="col-8 p-1">
          {{ selectedCompany?.companyName }}
        </div>
      </div>
      <div class="mt-2 d-flex row align-items-center">
        <div class="col-2 d-flex justify-content-center">
          {{ "LB_AUTHORITY_CLASSIFICATION" | translate }}
        </div>
        <div class="col-2">
          <!-- <select class="form-select w-100" name="authority" [(ngModel)]="filterSource.authorities">
                      <option *ngFor="let item of authotiryOptions" value="item.value">{{item?.key | translate}}</option>
                    </select> -->
          <nz-select
            class="w-100"
            name="authority"
            [(ngModel)]="filterSource.authorities"
            [nzSuffixIcon]="customIconTemplate"
          >
            <nz-option
              *ngFor="let item of authotiryOptions"
              [nzValue]="item.value"
              [nzLabel]="item.key | translate"
            ></nz-option>
          </nz-select>
          <ng-template #customIconTemplate>
            <div
              style="
                margin-top: -12px;
                padding-top: 9px;
                padding-left: 5px;
                border-left: 1px solid;
              "
            >
              <img src="assets/images/arrow-drop-list.svg" />
            </div>
          </ng-template>
        </div>
        <div
          class="col-8 d-flex flex-row justify-content-around align-items-center"
        >
          <label for="emailAddress">{{ "LB_EMAIL_ADDRESS" | translate }}</label>
          <input
            nz-input
            [(ngModel)]="filterSource.emailAddress"
            type="text"
            class="form-control w-50"
          />

          <button
            class="float-end px-5"
            nzSize="large"
            nz-button
            nzType="primary"
            nzShape="round"
            type="button"
            (click)="searchUser()"
          >
            {{ "BT_SEARCH" | translate }}
          </button>
        </div>
      </div>
    </div>

    <div class="filter-section border-top px-4 pt-3 mb-3">
      <app-paging
        [totalItems]="pagingConfig.availableElements"
        [itemsPerPage]="pagingConfig.itemsPerPage"
        [page]="pagingConfig.currentPage"
        [availablePages]="pagingConfig.availablePages"
        (pagingEvent)="receivePaging($event)"
        [filterSettings]="filterSettings"
        [filterSource]="filterSource"
        [sort]="sort"
        (sortChange)="sortChange($event)"
      >
        <label
          nz-checkbox
          [(ngModel)]="allChecked"
          (ngModelChange)="updateAllChecked()"
          class="col-1 pt-1"
          style="margin-left: 24px"
        >
        </label
      ></app-paging>
    </div>
    <div class="col-md-5 py-2 px-4 d-flex flex-column" *ngIf="users.length < 1">
      <p class="my-1 text-danger small">
        {{ "SEARCH_MSG_NOT_FOUND" | translate }}
      </p>
    </div>
    <!-- <div class="playlist-container container-fluid" [hidden]="users.length < 1">
      <div>
        <table class="table-secondary striped table-custom ">
          <thead>
            <tr class=" width-100 overflow-hidden">
              <th class="width-14 ps-4">{{ 'LB_EMAIL_ADDRESS' | translate }}</th>
              <th class="width-5">{{ 'LB_COMPANY_NAME' | translate }}</th>
              <th class="width-5">{{'LB_AUTHORIZATION_CATEGORY' | translate}}</th>
              <th class="width-12">{{'LB_REGISTER_DATE_AND_TIME'| translate}}</th>
              <th class="width-12">{{'LB_UPDATE_DATE_AND_TIME'| translate}}</th>
              <th class="width-12">{{'LB_FINAL_LOGIN_DATE_AND_TIME'| translate}}</th>
              <th class="width-10">{{'LB_STATUS'| translate}}</th>
              <th class="width-30"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="width-100 overflow-hidden"
              *ngFor="let user of users">
              <td data-toggle="tooltip" data-placement="top" title="{{user.emailAddress}}" class="width-14 ps-4 py-4 ellipsis email">{{user.emailAddress}}</td>
              <td data-toggle="tooltip" data-placement="top" title="{{user.companyName}}" class="width-5 p-2 pb-4 ellipsis name">{{user.companyName}}</td>
              <td data-toggle="tooltip" data-placement="top" title="{{ roleMapping(user.authorities) }}"  class="width-5 p-2 pb-4 ellipsis name">{{ roleMapping(user.authorities) }}</td>
              <td class="width-12 p-2 ellipsis" data-bs-toggle="tooltip" [title]="user.registrationDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET">{{user.registrationDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET}}</td>
              <td class="width-12 p-2 ellipsis" data-bs-toggle="tooltip" [title]="user.lastUpdateDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET">{{user.lastUpdateDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET}}</td>
              <td class="width-12 p-2 ellipsis" data-bs-toggle="tooltip" [title]="user.lastLoginDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET">{{user.lastLoginDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET}}</td>
              <td class="width-10 p-2 ellipsis" data-bs-toggle="tooltip" [title]="statusMapping(user.status)">{{ statusMapping(user.status) }}</td>
              <td class="width-30 align-items-center text-end pe-4">
                <button class="btn btn-secondary me-md-3 btn-submit-xs btn-custom" *ngIf="user.status=='COMPLETION_REGISTRATION' || user.status=='ACCOUNT_LOCKED'"
                  (click)="openUserEditing(user)">
                  <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                  <span>{{'BT_INFORMATION_EDITING'| translate}}</span>
                </button>
                <button class="btn btn-secondary me-md-3 btn-submit-xs btn-custom" *ngIf="user.status=='REQUESTING_REGISTRATION'"
                  (click)="resendEmail(user)">
                  <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                  <span>{{'BT_RESEND_EMAIL'| translate}}</span>
                </button>
                <button class="btn btn-secondary btn-submit-xs btn-custom" (click)="openUserDeleting(user)" [disabled]="user.emailAddress === account.email">
                  <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                  <span *ngIf="!user.isDeleting">{{'BT_DELETE'| translate}}</span>
                </button>
              </td>
            </tr>
            <tr *ngIf="!users">
              <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    <div>
      <div class="container-fluid" [hidden]="users.length < 1">
        <table style="font-size: 12px" class="w-100">
          <!-- <thead>
                          <tr class="overflow-hidden px-4 border-bottom" style="font-weight: 400">
                              <td class="width-5"></td>
                              <td class="width-25 p-2 py-4">{{ 'LB_EMAIL_ADDRESS' | translate }}</td>
                              <td class="width-25 p-2 py-4">{{ 'LB_COMPANY_NAME' | translate }}</td>
                              <td class="width-10 p-2 py-4">{{'LB_AUTHORIZATION_CATEGORY' | translate}}</td>
                              <td class="width-10 p-2 py-4">{{'LB_STATUS'| translate}}</td>
                              <td class="width-5 py-4"></td>
                              <td class="width-20 p-2 py-4">{{'LB_LAST_LOGIN'| translate}}{{'BT_REGISTER'| translate}}{{'BT_UPDATE'| translate}}</td>
                          </tr>
                      </thead> -->
          <tbody>
            <tr
              class="overflow-hidden px-4 border-bottom item"
              *ngFor="let user of users"
            >
              <td class="w-5 ps-4">
                <label
                  nz-checkbox
                  [nzDisabled]="user.id === account.userId"
                  [nzChecked]="checkedList.includes(user.id)"
                  [nzValue]="user.id"
                  (change)="onChecked(user.id)"
                ></label>
              </td>
              <td
                data-toggle="tooltip"
                data-placement="top"
                title="{{ user.emailAddress }}"
                class="w-25 p-2 py-4 text-break"
                (click)="openUserEditing(user)"
              >
                {{ user.emailAddress }}
              </td>
              <td
                data-toggle="tooltip"
                data-placement="top"
                title="{{ user.companyName }}"
                class="w-15 p-2 py-4 text-break name"
                (click)="openUserEditing(user)"
              >
                {{ user.companyName }}
              </td>
              <td
                data-toggle="tooltip"
                data-placement="top"
                title="{{ roleMapping(user.authorities) }}"
                class="w-15 p-2 py-4 name"
                (click)="openUserEditing(user)"
              >
                {{ roleMapping(user.authorities) }}
              </td>
              <td
                class="w-15 p-2 py-4"
                data-bs-toggle="tooltip"
                [title]="statusMapping(user.status)"
                (click)="openUserEditing(user)"
              >
                {{ statusMapping(user.status) }}
              </td>
              <td class="w-10">
                <button
                  nz-button
                  nzGhost
                  nzType="primary"
                  *ngIf="user.status == 'REQUESTING_REGISTRATION'"
                  (click)="resendEmail(user)"
                >
                  <div
                    *ngIf="user.isDeleting"
                    class="spinner-border spinner-border-sm"
                  ></div>
                  <div class="d-flex flex-row">
                    <div class="d-flex align-items-center me-1">
                      <i nz-icon nzType="reload" nzTheme="outline"></i>
                    </div>
                    <div class="d-flex align-items-center">
                      {{ "BT_RESEND_EMAIL" | translate }}
                    </div>
                  </div>
                </button>
              </td>
              <td class="w-15 p-2" (click)="openUserEditing(user)">
                <div>
                  {{ "LB_LAST_LOGIN" | translate }}
                  {{
                    user.lastLoginDate
                      | date
                        : commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM
                        : commonConfigs.TIME_ZONE_OFFSET
                  }}
                </div>
                <div>
                  {{ "BT_REGISTER" | translate }}
                  {{
                    user.registrationDate
                      | date
                        : commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM
                        : commonConfigs.TIME_ZONE_OFFSET
                  }}, {{ "BT_UPDATE" | translate }}
                  {{
                    user.lastUpdateDate
                      | date
                        : commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM
                        : commonConfigs.TIME_ZONE_OFFSET
                  }}
                </div>
              </td>
              <!-- <td class="width-12 p-2 ellipsis" data-bs-toggle="tooltip" [title]="user.lastUpdateDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET">{{user.lastUpdateDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET}}</td>
              <td class="width-12 p-2 ellipsis" data-bs-toggle="tooltip" [title]="user.lastLoginDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET">{{user.lastLoginDate | date: commonConfigs.DATETIME_FORMAT_YYYY_MM_DD_s_HH_MM_SS : commonConfigs.TIME_ZONE_OFFSET}}</td>
              <td class="width-30 align-items-center text-end pe-4">
                <button class="btn btn-secondary me-md-3 btn-submit-xs btn-custom" *ngIf="user.status=='COMPLETION_REGISTRATION' || user.status=='ACCOUNT_LOCKED'"
                  (click)="openUserEditing(user)">
                  <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                  <span>{{'BT_INFORMATION_EDITING'| translate}}</span>
                </button>
                <button class="btn btn-secondary me-md-3 btn-submit-xs btn-custom" *ngIf="user.status=='REQUESTING_REGISTRATION'"
                  (click)="resendEmail(user)">
                  <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                  <span>{{'BT_RESEND_EMAIL'| translate}}</span>
                </button>
                <button class="btn btn-secondary btn-submit-xs btn-custom" (click)="openUserDeleting(user)" [disabled]="user.emailAddress === account.email">
                  <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                  <span *ngIf="!user.isDeleting">{{'BT_DELETE'| translate}}</span>
                </button>
              </td> -->
            </tr>
            <tr *ngIf="!users">
              <td colspan="4" class="text-center">
                <span
                  class="spinner-border spinner-border-lg align-center"
                ></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="card-footer p-3">
    </div> -->
  </div>
  <div class="filter-section px-4 py-3 mb-3">
    <app-paging
      [totalItems]="pagingConfig.availableElements"
      [itemsPerPage]="pagingConfig.itemsPerPage"
      [page]="pagingConfig.currentPage"
      [availablePages]="pagingConfig.availablePages"
      (pagingEvent)="receivePaging($event)"
      [filterSource]="filterSource"
      [sort]="sort"
      (sortChange)="sortChange($event)"
    >
    </app-paging>
  </div>
  <ng-template #actionsBar>
    <div class="container d-flex justify-content-end gap-4 py-2">
      <ng-container>
        <div
          class="px-4 trash-button d-flex flex-row"
          (click)="onDelete()"
          [class]="!checkedList.length ? 'disable' : 'enable'"
        >
          <i
            class="fa fa-trash d-flex align-items-center"
            aria-hidden="true"
          ></i>
          <span class="d-flex align-items-center">{{
            "BT_DELETE" | translate
          }}</span>
        </div>
        <!-- <button type="button" class="px-4" nz-button nzType="primary" nzShape="round" (click)="editItem()" [disabled]="checkedList.length !== 1">{{'BT_INFORMATION_EDITING' | translate}}</button> -->
      </ng-container>
    </div>
  </ng-template>
</div>

<app-modal [modalObject]="deleteModal">
  <div class="text-center mb-4 f-size-w6-28">
    {{ "TXT_DELETE_MODAL" | translate }}
  </div>
  <p class="text-center mb-1">{{ "TXT_DELETE_MODAL_CONTENT_1" | translate }}</p>
  <p class="text-center">{{ "TXT_DELETE_MODAL_CONTENT_2" | translate }}</p>
</app-modal>

<app-modal [modalObject]="resendModal">
  <div class="text-center f-size-w6-28">
    {{ "TT_USER_RESEND_MODAL_TITLE" | translate }}
  </div>
</app-modal>
