@import "variables/color";
.border-top {
  border-top: 1px solid;
}
.operation-management {
  min-height: 500px;
  .card-body {
    // height: calc(100vh - 280px);
    padding: 0;
    ::ng-deep.date {
      .ng-star-inserted {
        color: $primary;
        font-size: 25px;
      }
    }
  }

  table th {
    font-weight: normal;
  }

  table tr.item:hover {
    background-color: $black-squeeze;
  }

  ::ng-deep.date {
    .ng-star-inserted {
      color: $primary;
      font-size: 25px;
    }
    // width: 60%;
    float: right;
  }
}
