/* color XD design */
$primary: #00846D;
$iceberg: #D6F1E6;
$black-squeeze: #EDF8F5;
$cinnabar: #EB4D4D;
$ecstasy: #F68213;
$mine-shaft: #333333;
$dove-gray: #707070;
$alto: #DDDDDD;
$gallery: #EBEBEB;
$wild-sand: #F5F5F5;
$white: #FFFFFF;

/* extension color */
$error: red;
$black: #000;
$blue-ribbon: #003DEA;
$scorpion: #5B5B5B;
$torch-red: #FF001F;
$concrete: #F2F2F2;
$zircon: #f0f6ff;
$silver-chalice: #ADADAD;
$dodger-blue: #2196F3;
$forest-green: #2ab934;
$gray: #898989;
$botticelli: #C3D7E5;
$ghost: #C7CAD1;
// -------color boder-------------

$black-border: 1px solid $black;
$gray-border: 1px solid $gallery;
