$font-size-px-list: 12 13 14 16 18 20 22 24 26 28 30 32; // px
$width-percent-list: 5 10 12 14 15 20 25 30 40 50 60 70 80 90 100; // %

$hg-header: 64px;

$wd-sidebar: 200px;

$max-width-image: 800px;
$max-height-image: 480px;
$max-width-receipt: 384px;
$max-height-receipt: 800px;
$scroll-height-receipt: 50vh;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-26: 26px;
$font-size-32: 32px;
$font-size-standard: 1rem;

$border-radius-5px: 5px;
$border-radius-10px: 10px;
$border-radius-15px: 15px;
