.workpage-question {
    .feedback-content {
      flex: 4;
    }
    .description{
        font-size: 12px;
        font-weight: 400;
    }
    .task-title{
        opacity: 0.6;
    }
    .title{
        font-size: 14px;
        font-weight: 600;
    }
  }
