@import "variables";

::ng-deep {
    .question-section {
        nz-select.ng-valid {
            nz-select-top-control {
                border-color: #d9d9d9 !important;
            }
        }
    }
}
.ant-form-item-with-help .ant-form-item-explain {
    text-align:  right;
}
.not-validate {
    border-color: #d9d9d9 !important;
    &:hover, &:focus {
        border-color: #131c4a !important;
    }
}

.question-section {
    height: calc(100vh - 330px);
    overflow-y: auto;
    .question-upload {
        margin-top: -30px;
        &-btn {
            right: 240px;
            top: -21px;
        }
    }
}

.remaining-score-txt,
.remaining-score {
    width: 4rem;
    padding: 0.5rem;
    // border: 1px solid;
    text-align: center;
}
.remaining-score-err {
    background-color: #FF525229;
    color: #dc3545;
}
.remaining-score-txt {
    color: #dc3545;
    background-color: transparent;
    width: auto;
    text-align: l;
}

.question-order {
    text-align: center;
    margin: 0.5rem 0;
}

.input-border-bottom {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    margin-left: 4px;
    width: calc(100% - 20px);

    &:focus {
        box-shadow: none;
    }
}

.add-option-row {
    margin-bottom: .5rem;
    border-bottom: 2px solid #E9EAEC;
}

.action-btn-row {
    overflow: hidden;
    float: right;
    background-color: #F9F9FA;
}

.question-footer {
    border-top: 2px solid #E9EAEC;
}

.tag-control {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 0.3rem;

    input {
        width: 100px;
        height: 30px;
    }

    .ant-tag {
        border-radius: 10px;
        font-size: inherit;
        height: 30px;
        margin-bottom: 3px;
        padding: 5px 10px;
        line-height: 18px;

        .ant-tag-close-icon {
            padding: 3px;
            background-color: $primary-color;
            color: #fff;
            border-radius: 50%;
        }
    }
}

.ant-radio-wrapper-disabled {
    span {
        color: inherit
    }
}