<div class="select-task-wrap">
  <div nz-row>
      <div nz-col [nzSpan]="4" class="p-2 label-div">
          <label>{{'select_task'|translate}}</label>
      </div>
      <div nz-col [nzSpan]="20" class="p-2">
          <nz-select class="w-100" [(ngModel)]="selectedGroup"  [nzDisabled]="inputtedGroupChinese || inputtedGroupEnglish" nzShowSearch nzAllowClear nzPlaceHolder="{{'select_task' | translate}}">
              <nz-option *ngFor="let group of groupList$ | async" [nzLabel]="group.title" [nzValue]="group.groupUniqId"></nz-option>
          </nz-select>
      </div>  
  </div>
  <div nz-row>
      <div nz-col [nzSpan]="24" class="p-2">{{'or' | translate}}</div>
  </div>
  <div nz-row>
      <div nz-col [nzSpan]="4" class="p-2">{{'add_new_task' | translate}}</div>
      <div nz-col [nzSpan]="10" class="p-2">
          <input [disabled]="selectedGroup" nz-input placeholder="任务标题" [(ngModel)]="inputtedGroupChinese" />
      </div>
      <div nz-col [nzSpan]="10" class="p-2">
          <input [disabled]="selectedGroup" nz-input placeholder="Task title" [(ngModel)]="inputtedGroupEnglish" />
      </div>
  </div>
  <div *nzModalFooter>
      <button nz-button nzType="default" (click)="destroyModal(false)">{{'cancel' | translate}}</button>
      <button nz-button nzType="primary" [disabled]="(!selectedGroup && !inputtedGroupChinese && !inputtedGroupEnglish)" (click)="destroyModal(true)">{{'ok' | translate}}</button>
  </div>
</div>
