<table>
  <tr>
    <td class="title text-bold">Total shipments req. delivery today</td>
    <td class="text">Total urgent shipments (excl. LTL) when planned pick up in last 7 days.</td>
  </tr>
  <tr>
    <td class="title text-bold">Delivered SN</td>
    <td class="text">The urgent shipments were delivered to customer in last 7 days,
      <br />Act. delivery date available and milestone was "Delivered"
    </td>
  </tr>
  <tr>
    <td class="title text-bold">SN In Transit</td>
    <td class="text">The urgent shipments haven’t delivered to customer yet till now, from last 7 days on.</td>
  </tr>
</table>
